pipeline/Training_2_jobs_copy1.json
{
	"name": "Training_2_jobs_copy1",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "declare @dt datetime\nSET @dt = getdate()\nselect @dt currdate\nselect * from Planes where ICAO='A318'",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DS_local_master_planes",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ICAO1",
					"value": {
						"value": "@activity('Lookup1').output.value[0].currdate",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_forcefail]"
				},
				"linkedServiceName": {
					"referenceName": "LocalSQLServer01",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"ICAO1": {
				"type": "String"
			},
			"ICAO2": {
				"type": "String"
			}
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}